.app {
  
}

.container {
  max-width: 650px;
  margin: 0 auto;
}
.inner {
  padding: 70px 0px;
}
.header {
  margin-bottom: 50px;
  display: flex;

  justify-content: space-between;
  align-items: center;
  &__time {
  }

  &__score {
  }

  &__btn {
    font-weight: bold;
    background: #567fed;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
  }
  &__btn:hover {
    background: #3b69e9;
    border: 1px solid black;
  }

  &__time,
  &__score {
    font-size: 45px;
    color: white;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 15px;
  grid-gap: 15px;
}

.btn__item {
  width: 125px;
  height: 125px;
  font-size: 18px;
  color: #000;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  transition: transform 0.4s ease, opacity 1s ease;
}

.card__front {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
  background: #c4c4c4;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__back {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
  background: #c4c4c4;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #f1f1f1;
}
